<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cocoon-plugin-multidex-android"
    version="1.0.0">

    <name>Cocoon Android Multidex plugin</name>
    <description>Cocoon plugin to add support for multidex applications.</description>
    <license>Copyright Ludei</license>
    <keywords>cordova, ludei, cocoon, multidex</keywords>
    <repo></repo>
    <issue></issue>

    <engines>
      <engine name="cordova-android" version=">=4" />
      <engine name="cordova-plugman" version=">=4.2.0" /><!-- needed for gradleReference support -->
    </engines>

    <!-- android -->
    <platform name="android">
        <source-file src="src/MultidexPlugin.java" target-dir="src/com/ludei/multidex" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LDMultidexPlugin" >
                <param name="android-package" value="com.ludei.multidex.MultidexPlugin"/>
                
            </feature>
        </config-file>

        <framework src="libs/multidex.gradle" custom="true" type="gradleReference" />
        <dependency id="cocoon-plugin-application-android" />
    </platform>
</plugin>
